.product_cards_parent{
    width: 80%;
    /* border: 2px solid red; */
    margin: 20px auto;
    align-content: center;
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
/* Media */
/* Small Screens */
@media screen and (min-width:320px) and (max-width:767px){
   .product_cards_parent{
    width: 80%;
    grid-template-columns: repeat(1,1fr);
   }
   
}

/* Medium Screens */
@media screen and (min-width:768px) and (max-width:1024px){
   .product_cards_parent{
   grid-template-columns: repeat(3,1fr);
    width: 90%;
   }
}