.stores_parent{
    width: 95%;
    /* border:2px solid black; */
    margin: 30px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
}
@media screen and (min-width:320px) and (max-width:767px){
    .stores_heading > h1{
        font-size: 34px;
    }
}